@use "../globals/themes" as *;

* {
  box-sizing: border-box;
}

:root {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: $black;
  font-size: 14px;
}

button {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white-gray;
}

h1,
h2,
h3,
h4 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 1.5em;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
