@use "../globals/themes" as *;
@use "../globals/mixins" as *;

.icon-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  background: none;
  border: none;
  cursor: pointer;

  &:hover :not(.pulse) {
    opacity: 70%;
  }
}

.icon {
  font-size: 0rem;
  position: absolute;
  color: lighten($black, 15%);

  &.instant {
    font-size: 1.75rem;

    &.small {
      font-size: 1.15rem;
    }
  }
  &.pulse {
    animation-name: pulse;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    &.small {
      animation-name: pulse-small;
    }
  }

  &.fa-solid.fa-star {
    color: $yellow-star;
  }
  &.fa-solid.fa-heart {
    color: $red-heart;
  }
}

@include animation-pulse("pulse", "font-size", 1.75);
@include animation-pulse("pulse-small", "font-size", 1.15);
