$black: hsl(0, 0%, 18%);
$white: hsl(0, 0%, 100%);
$white-gray: hsl(0, 0%, 97%);
$gray: hsl(0, 0%, 85%);
$red-heart: hsl(0, 84%, 64%);
$yellow-star: hsl(40, 100%, 60%);

$accent: #546de5;
$accent-light: #778aeb;
$accent-secondary: #f5cd79;
$accent-tertiary: #f19066;

::selection {
  color: $white;
  background-color: $accent-light;
}
