@use "../globals/themes" as *;
@use "../globals/sizes" as *;

.comment-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $comment-bar-height;
  border-top: 1px solid $gray;

  padding-left: 6px;

  .reply-tag {
    background-color: $accent-light;
    color: $white;
    padding: 4px 8px 4px 6px;
    border-radius: 4px;
  }

  input {
    padding: 0 6px 0 8px;
    width: 100%;
    border: none;
    border-bottom-left-radius: 6px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $gray;
    }
  }
  button {
    margin-right: 10px;
    font-weight: 700;
    background-color: transparent;
    border: none;

    color: $accent-light;
    opacity: 50%;

    &.clickable {
      opacity: 100%;
      cursor: pointer;

      &:hover {
        color: $black;
      }
    }
  }
}
