@use "../globals/themes" as *;
@use "../globals/sizes" as *;

.favorites {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    &--time {
      color: $accent-light;
      font-weight: 700;
      margin-bottom: 0.5em;
    }
  }
}
