@use "../globals/themes" as *;
@use "../globals/sizes" as *;

.recipe-simplified {
  height: 100%;
  border-radius: 3px;
  border-right: 1px solid $gray;

  & h4 {
    margin: 0;
  }

  &__scroll-section {
    overflow-y: auto;
    height: 70%;
    margin-top: -4px;
    padding: 12px 0;
  }

  & img {
    height: 30%;
    object-fit: cover;
    margin: 0;
  }
}
