@use "../globals/themes" as *;
@use "../globals/sizes" as *;
@use "../globals/breakpoints" as *;

.sidebar-container {
  position: relative;
  min-width: var(--sidebar-width);
}
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100vh;
  padding: 10px 16px;
  z-index: 1000;

  background-color: $white;
  border-right: 1px solid $gray;

  &__logo-container {
    margin: 20px 0;
  }
  &__link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(1.15rem + 32px);
    padding: 16px 20px;

    font-size: 1.15rem;
    text-decoration: none;

    text-decoration: none;
    color: $black;
    border-radius: 100px;

    transition: background-color 400ms;

    &--icon-holder {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 24px 0 12px;
    }
    i {
      position: absolute;
      font-size: 1.75rem;
    }
    &:hover {
      background-color: $white-gray;
      i {
        font-size: 1.85rem;
      }
    }
    &.active {
      color: $white;
      background-color: $accent-light;
      text-shadow: 0 0 4px hsl(0, 0%, 0%, 50%);
      i {
        font-size: 1.85rem;
      }
    }
  }
}

@media (max-width: $bp-medium) {
  .sidebar {
    &__logo-container {
      display: none;
    }
    &__link {
      &--text {
        display: none;
      }
      &--icon-holder {
        margin: 0;
        width: 10px;
      }
    }
  }
}

@media (max-width: $bp-small) {
  .sidebar-container {
    min-width: 0;
  }
  .sidebar {
    width: 100%;
    height: $sidebar-small-height;
    bottom: 0;
    border-top: 1px solid $gray;

    &__link-container {
      flex-direction: row;
      gap: 10px;
    }
    &__link {
      justify-content: center;

      &.active {
        color: $white;
        background-color: $accent-light;
        text-shadow: 0 0 4px hsl(0, 0%, 0%, 50%);
        i {
          font-size: 1.85rem;
        }
      }
    }
  }
}
